This is your main app page
It shoud contain header, menu,

<router-outlet></router-outlet>
<div class="container">
  <div class="row">
    <div class="col-md-3">Row 1 column1</div>
    <div class="col-md-3">Row 1 column2</div>
  </div>
  <div class="row">
    <div class="col-md-3">Row 2 column1</div>
    <div class="col-md-3">Row 2 column2</div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">Row 1 column1</div>
    <div class="col-md-3">Row 1 column2</div>
  </div>
  <div class="row">
    <div class="col-md-3">Row 2 column1</div>
    <div class="col-md-3">Row 2 column2</div>
  </div>
</div>
And then footer
